<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
@import url(assignment.css);
    </style>
</head>
<body>
    
    <div class="main">
        
        <!--first three box-->
            <div class="first"><p>Thumbnail</p></div>

            <div class="second"><p>Thumbnail</p></div>

            <div class="third"><p>Thumbnail</p></div>

            <div class="a"><h4>Lorem,Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, laudantium. ipsum dolor sit amet consectetur adipisicing elit. Provident, nam?
               <br>
                <input type="button" value="view"  class="joint">
                <input type="submit" value="Edit"class="joint">
                <input type="submit" value="read more" class="right">
               </h4>
            </div>

            <div class="b"><h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, aut.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, recusandae.
                <br>
                <input type="submit" value="view"class="joint" >
                 <input type="submit" value="Edit"class="joint">
                 <input type="submit" value="read more" class="right">
                 </h4>
            </div>

            <div class="c"><h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, debitis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, repellat
                <br>
                <input type="submit" value="view" class="joint" >
                <input type="submit" value="Edit"class="joint">
                <input type="submit" value="read more" class="right">
                </h4>
            </div>
            
            <!--last three box-->

            <div class="four"><p>Thumbnail</p></div>

            <div class="five"><p>Thumbnail</p></div>

            <div class="six"><p>Thumbnail</p></div>

            <div class="d"><h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, quasi?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, quas?
                <br>
                <input type="submit" value="view" class="joint" >
                 <input type="submit" value="Edit"class="joint">
                 <input type="submit" value="read more" class="right">
                 </h4>
            </div>

            <div class="e"><h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, assumenda.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, recusandae.
                <br>
                <input type="submit" value="view"class="joint" >
                 <input type="submit" value="Edit"class="joint">
                 <input type="submit" value="read more" class="right">
                 </h4>
            </div>

            <div class="f"><h4>lorem10Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque, dolorum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, repellat.
                <br>
                <input type="submit" value="view" class="joint" >
                 <input type="submit" value="Edit" class="joint">
                 <input type="submit" value="read more" class="right">
                 </h4>
            </div>



        


        

    </div>
</body>
</html>